	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">Project name | Theme</a>
				<form class="navbar-form pull-right">
					<button class="btn btn-primary" data-bind="click: $root.themeVM.addIdea">
						<i class="icon-plus-sign-alt"></i>&nbsp;&nbsp;Add Idea
					</button>
				</form>
			</div>
		</div>
	</div><!--/navbar -->

	<article class="row-fluid">
		<aside class="span3">
			<div class="tabbable tabs-right">
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#activity-stream" data-toggle="tab"><i class="icon-time"></i></a></li>
			    <li><a href="#members" data-toggle="tab"><i class="icon-group"></i></a></li>
			  </ul>
			  <div class="tab-content">
			    <div class="tab-pane active" id="activity-stream">
                  	<ul class="nav nav-tabs nav-stacked">
						<li><a href="#">Activity</a></li>
					</ul>
                </div>
               	<div class="tab-pane" id="members">
               		<div class="tabbable"> <!-- Only required for left/right tabs -->
					  <ul class="nav nav-pills">
					    <li class="active"><a href="#current-members" data-toggle="tab">Current Users</a></li>
					    <li><a href="#add-new-member" data-toggle="tab">Add User</a></li>
					  </ul>
					  <div class="tab-content">
					    <div class="tab-pane active" id="current-members">
					      	<ul class="unstyled" data-bind="foreach: {data: $root.themeVM.members, as: 'member'}">
								<li>
									<strong data-bind="text: member.user.name"></strong><br />
									<span data-bind="text: member.user.email"></span>
								</li>
							</ul>
					    </div>
					    <div class="tab-pane" id="add-new-member">
					    	<div class="input-append">
								<input class="input-large" type="text" placeholder="User Email" data-bind="value: $root.themeVM.newMemberEmail" />
								<button class="btn" data-bind="click: $root.themeVM.searchMembers"><i class="icon-search"></i></button>
							</div>

							<ul class="unstyled" data-bind="foreach: {data: $root.themeVM.userSelection, as: 'user'}">
								<li class="clearfix">
									<div class="pull-left">
										<strong data-bind="text: user.name"></strong><br />
										<span data-bind="text: user.email"></span>
									</div>
									<button class="btn btn-small" data-bind="click: $root.themeVM.addMembers"><i class="icon-plus"></i></button>
								</li>
							</ul>
					    </div>
					  </div>
					</div>
                </div>
			  </div>
			</div>
			<nav class="nav nav-tabs">
				
			</nav>
		</aside>
		<section class="span9">
			<section class="row-fluid">
				<div class="clearfix">
					<hgroup class="pull-left hidden theme-desc">
						<h3>Description</h3>
						<h4>Constraints</h4>
					</hgroup>

					<button class="btn pull-right" id="desc-toggle"><i class="icon-double-angle-down"></i></button>
				</div>
			</section>
			<div class="row-fluid">
				<ul class="thumbnails" data-bind="foreach: {data: $root.themeVM.ideas, as: 'idea'}">
					<li class="thumbnail span3">
						<div class="pull-right btn-group clearfix">
							<button class="btn btn-small"><i class="icon-comments-alt"></i></button>
							<button class="btn btn-small"><i class="icon-code-fork"></i></button>
							<button class="btn btn-small" data-bind="click: $root.themeVM.removeIdea"><i class="icon-remove"></i></button>
						</div>
						<p data-bind="visible: !idea.editing(), text: idea.content, click: idea.edit">&nbsp;</p>
    					<textarea data-bind="visible: idea.editing, value: idea.content, hasFocus: idea.editing"></textarea>
					</li>
				</ul>
			</div>
		</section>
	</article>

	<%= render "shared/content_modal" %>
	<%= content_tag(:div, '', data: { theme: ThemeSerializer.new(@theme).to_json }) %>