	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#">Project name | Theme</a>
				<form class="navbar-form pull-right">
					<button class="btn btn-primary" data-bind="click: $root.themeVM.addIdea">
						<i class="icon-plus-sign-alt"></i>&nbsp;&nbsp;Add Idea
					</button>
				</form>
			</div>
		</div>
	</div><!--/navbar -->

	<article class="row-fluid">
		<aside class="span3">
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="#">Projects</a></li>
			</ul>
			<hr>
			<form class="clearfix">
				<label class="pull-left">Labels</label>
				<div class="input-append pull-right">
				  <input class="input-large" id="appendedInputButton" type="text">
				  <button class="btn"><i class="icon-plus"></i></button>
				</div>
			</form>

			<div class="well">
				<ul class="unstyled inline">
					<li>
						<span class="label label-warning clearfix">
							<span class="pull-left">Label</span>
							<a href="#" class="close pull-right">&times;</a>
						</span>
					</li>
				</ul>
			</div>
		</aside>
		<section class="span9">
			<section class="row-fluid">
				<div class="clearfix">
					<hgroup class="pull-left hidden theme-desc">
						<h3>Description</h3>
						<h4>Constraints</h4>
					</hgroup>

					<button class="btn pull-right" id="desc-toggle"><i class="icon-double-angle-down"></i></button>
				</div>
			</section>
			<div class="row-fluid">
				<ul class="thumbnails" data-bind="foreach: {data: $root.themeVM.ideas, as: 'idea'}">
					<li class="thumbnail span2">
						<a href="#" class="close pull-right" data-bind="click: $root.themeVM.removeIdea">&times;</a>
						<p contenteditable="true" data-bind="htmlValue: idea.content"></p>
					</li>
				</ul>
			</div>
		</section>
	</article>