<% title 'Welcome to Collaborative Brainstorming!' %>

<div class="hero-unit">
  Generate ideas and questions around a problem with a group in real time from anywhere!

  <br>
  <br>
  <div class="centered">
    <a href="/users/sign_up" class="btn btn-primary btn-large">Create Account</a>
    or
    <a href="/users/sign_in" class="btn btn-success btn-large">Sign In</a>
  </div>
</div>